<h1>Editing Transition</h1>

<%= render 'form' %>

<%= link_to 'Show', workflow_event_transition_path(@workflow_event , @transition) %> |
<%= link_to 'Back', workflow_event_transitions_path(@workflow_event) %>
