<h1>Editing Workflow Event</h1>

<%= render 'form' %>

<%= link_to 'Show', workflow_state_workflow_event_path(@workflow_state, @workflow_event) %> |
<%= link_to 'Back', workflow_state_workflow_events_path %>
